.formAddTask {
  background-color: rgb(205, 179, 229);
  position: absolute;
  top: 30%;
  left: 40%;
  display: flex;
  flex-direction: column;
  transition: all 0.3s;
  padding: 10px;
  border-radius: 8px;
}
.formAddTask input {
  height: 50px;
  width: 40%;
}

.nonActive {
  transform: translate(-300%);
}
.active {
  transform: translate(0);
}

.overlay {
  position: absolute;
  opacity: 0.5;
  background-color: black;
  width: 100%;
  height: 100vh;
}

.displayNone {
  display: none;
}
