.listBlock {
  min-height: 70vh;
  background-color: rgb(5, 5, 220);
  color: white;
  width: 30%;
  border: 1px solid black;
}
.listHeader {
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 10%;
  color: black;
  background-color: white;
  align-items: center;
}

.listBody {
  background-color: rgb(120, 120, 214);
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
